<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>455888132657-m34lfc6sm5tpusmu2o24dql63j5bi24b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455888132657-m34lfc6sm5tpusmu2o24dql63j5bi24b</string>
	<key>API_KEY</key>
	<string>AIzaSyAHxG_OStGdwe3trf5Kh0oJtfPdiM-kuRI</string>
	<key>GCM_SENDER_ID</key>
	<string>455888132657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.MA18FirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>ma18iosauthentication</string>
	<key>STORAGE_BUCKET</key>
	<string>ma18iosauthentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455888132657:ios:e9d9ec727697067c</string>
	<key>DATABASE_URL</key>
	<string>https://ma18iosauthentication.firebaseio.com</string>
</dict>
</plist>